# Core Python, Clase 3
## números enteros

In [1]:
4

4

In [2]:
4572

4572

In [3]:
1,543,456 #con comas python lo toma como duplas

(1, 543, 456)

In [4]:
-3 #támbien puede haber negativos

-3

## Flotantes

In [5]:
3435.523

3435.523

## String

In [6]:
's'

's'

In [7]:
'Cadena de caracteres'

'Cadena de caracteres'

In [8]:
"'se pueden usar comiilas simples dento del string'"

"'se pueden usar comiilas simples dento del string'"

In [9]:
'o "comillas dobles"'

'o "comillas dobles"'

## Booleanos

In [10]:
True

True

In [11]:
False

False

In [12]:
10>11

False

In [13]:
10>=11

False

In [14]:
5>0

True

## Variables

In [15]:
x = 5

In [16]:
x

5

In [17]:
type(x)

int

In [18]:
z=45.2

In [19]:
type(z)

float

In [21]:
nombre="Karla"
type(nombre)

str

In [22]:
x=5
z=45.2
nombre="Karla"
comparacion = z>x

In [24]:

comparacion

True

## Operadores de comparación (6)

In [25]:
5==5

True

In [26]:
"Karla"=="karla"

False

In [27]:
"Karla"!= "Paz"

True

In [28]:
5>1

True

In [29]:
5<1

False

In [31]:
int(True)

1

In [32]:
int(False)

0

## Operadores Lógicos (3)
### And
### Or

In [34]:
False and True

False

In [35]:
False or True

True

## Concatenación de operadores lógicos

In [39]:
#pedir sexo
sexo = input("sexo (h/m): ")

#pedir edad
edad=int(input("edad: "))

sexo (h/m): m
edad: 28

In [40]:
promocion_aplica = sexo =='m' and edad>=21 and edad<=30

In [41]:
print("la promoción aplica:",promocion_aplica)

la promoción aplica: True

### Escribe un programa que determine si se debe o no otorgar una promoción a un hombre siempre y cuando su edad sea menos de 12 años o más de 65

In [1]:
#pedir sexo y edad
sexo=input("sexo (h/m): ")
edad=int(input("edad: "))

sexo (h/m): h
edad: 45

In [2]:
promocion = sexo =='h'and (edad<12 or edad>65)

In [3]:
print("la promoción aplica ",promocion)

la promoción aplica  False

In [4]:
#pedir sexo y edad
sexo=input("sexo (h/m): ")
edad=int(input("edad: "))

sexo (h/m): h
edad: 70

In [5]:
promocion = sexo =='h'and (edad<12 or edad>65)

In [6]:
print("la promoción aplica ",promocion)

la promoción aplica  True

## Operaciones con datos

In [7]:
5+4

9

In [8]:
4-2

2

In [9]:
65*3

195

In [10]:
45/3

15.0

In [11]:
5**3

125

In [12]:
10%3 ##da el residuo de la división

1

In [13]:
a=5
b=2

In [15]:
print (a*b)
print (b+a)

10
7

In [19]:
string1="cadena de caracteres 1"
print(string1)

cadena de caracteres 1

In [20]:
string2="cadena 2"
print(string2)

cadena 2

In [21]:
string2*5

'cadena 2cadena 2cadena 2cadena 2cadena 2'

## Listas

In [22]:
[1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [23]:
["karla",2,False,True,34]

['karla', 2, False, True, 34]

In [24]:
["karla",34,True,[2,4]]

['karla', 34, True, [2, 4]]

In [25]:
lista1=[3,45,6,2,15,67]

In [26]:
lista1[0]

3

In [27]:
lista1*3

[3, 45, 6, 2, 15, 67, 3, 45, 6, 2, 15, 67, 3, 45, 6, 2, 15, 67]

In [29]:
lista1[0:5] ##no incluye el 5

[3, 45, 6, 2, 15]

In [31]:
lista1.append(100)

In [32]:
print(lista1)

[3, 45, 6, 2, 15, 67, 100]

In [33]:
lista1.remove(100)
print(lista1)

[3, 45, 6, 2, 15, 67]

## tuplas

In [34]:
lista1[4]

15

In [36]:
lista1[4]="nuevo valor"
lista1

[3, 45, 6, 2, 'nuevo valor', 67]

In [40]:
tupla1=(2,3,4,5,2,1)

In [41]:
tupla1[4]="nuevo valor" #no se puede cambiar el valor
tupla1

TypeError: 'tuple' object does not support item assignment

In [42]:
str1 ="cadena str"

In [43]:
str1[3]

'e'

In [44]:
str1[3]="n" #no se puede cambiar el valor

TypeError: 'str' object does not support item assignment

In [48]:
a=[3,4,5,7,3,2]
a

[3, 4, 5, 7, 3, 2]

In [46]:
b=a

In [47]:
b

[3, 4, 5, 7, 3, 2]

In [50]:
b.append(60)
b

[3, 4, 5, 7, 3, 2, 60, 60]

In [51]:
a

[3, 4, 5, 7, 3, 2]

## Listas multidimensionales

In [52]:
a=[[1,2,3],[3,5,2],[4,5,6]]
a

[[1, 2, 3], [3, 5, 2], [4, 5, 6]]

In [53]:
a[1]

[3, 5, 2]

In [54]:
a[1][2]

2

## Input y output

In [55]:
print("Hola mundo")

Hola mundo

In [57]:
edad = 28
nombre = "karla"

In [58]:
print(nombre,edad)

karla 28

In [59]:
print("Hola, me llamo",nombre,"y tengo",edad,"años")

Hola, me llamo karla y tengo 28 años

In [61]:
print("Hola, me llamo",nombre,"y tengo",edad,"años", sep="/")

Hola, me llamo/karla/y tengo/28/años

In [62]:
input()

hola

'hola'

In [63]:
input("dame el nombre de tu mascota:")

dame el nombre de tu mascota:camus

'camus'

In [64]:
mascota=input("nombre de tu mascota")

nombre de tu mascotaCamus

In [65]:
mascota=input("nombre de tu mascota")

nombre de tu mascotacamus

In [66]:
mascota

'camus'

In [67]:
import math

In [68]:
radio = input("Damel el radio del circulo: ")

Damel el radio del circulo: 5

In [69]:
area=math.pi*radio**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [70]:
radio = float(input("Damel el radio del circulo: "))

Damel el radio del circulo: 5

In [72]:
area=math.pi*radio**2

In [73]:
area

78.53981633974483