## Pandas

### primeros pasos (importar)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
## para crear un data frame, lo más fácil es empezar crendo un diccionario:
data = {
    "manzanas": [1,0,3,4,7,9],
    "naranjas":[9,5,6,7,3,5]
}

In [4]:
data

{'manzanas': [1, 0, 3, 4, 7, 9], 'naranjas': [9, 5, 6, 7, 3, 5]}

In [5]:
data["manzanas"]

[1, 0, 3, 4, 7, 9]

In [6]:
data["naranjas"]

[9, 5, 6, 7, 3, 5]

In [7]:
##data frame:
df=pd.DataFrame(data)

In [8]:
df

   manzanas  naranjas
0         1         9
1         0         5
2         3         6
3         4         7
4         7         3
5         9         5

In [9]:
df["manzanas"]

0    1
1    0
2    3
3    4
4    7
5    9
Name: manzanas, dtype: int64

In [10]:
df.manzanas

0    1
1    0
2    3
3    4
4    7
5    9
Name: manzanas, dtype: int64

In [11]:
df.manzanas.index

RangeIndex(start=0, stop=6, step=1)